/* ================================================================================
								Media Queries
=================================================================================*/
/*---------- 1024 x 768 px device -----------*/
@media only screen and (max-device-width: 1024px) {
  /* line 7, ../sass/partials/_base.scss */
  #jm-header .jm-content,
  #jm-description,
  #jm-dates {
    clear: both;
    display: block;
    float: none;
  }

  /* line 13, ../sass/partials/_base.scss */
  #jm-header .jm-content,
  #jm-dates,
  #jm-description,
  #jm-dates #jm-name,
  section#jm-contentMain .jm-content {
    width: auto;
  }

  /* line 18, ../sass/partials/_base.scss */
  body.jm-page #jm-dates {
    width: 100%;
  }

  /* line 19, ../sass/partials/_base.scss */
  #jm-description {
    background: none;
    height: auto;
  }

  /* line 23, ../sass/partials/_base.scss */
  #jm-dates {
    margin: 0 auto;
  }

  /* line 25, ../sass/partials/_base.scss */
  #jm-dates #jm-name {
    margin: 25px auto 0 auto;
    padding-bottom: 20px;
  }

  /* line 29, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #jm-name,
  body.jm-page #jm-dates #personalDates {
    float: none;
  }

  /* line 32, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #personalDates {
    margin-left: 0;
  }

  /* line 34, ../sass/partials/_base.scss */
  #jm-dates #jm-name hgroup#jm-nameTitle {
    position: relative;
    top: 25px;
    width: auto;
  }

  /* line 39, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates {
    display: table;
    height: auto;
    margin: 10px auto;
    width: auto;
  }
  /* line 45, ../sass/partials/_base.scss */
  #jm-dates #personalDates li.jm-listDates {
    margin-right: 5px;
    width: auto !important;
  }

  /* line 52, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #personalDates {
    border-top: 1px solid #666;
  }
  /* line 53, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #personalDates ul#jm-otherDates {
    margin-top: 10px;
  }

  /* line 59, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #personalDates ul#jm-otherDates li {
    float: left;
  }

  /* line 61, ../sass/partials/_base.scss */
  ul#jm-otherDates li.profile {
    clear: both !important;
    display: table !important;
    float: none !important;
    margin: 0 auto 20px auto !important;
    position: relative;
    top: 10px;
  }

  /* line 68, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #personalDates ul#jm-otherDates li span {
    padding-left: 48px;
  }

  /* line 70, ../sass/partials/_base.scss */
  #jm-dates #personalDates .profile a {
    padding-right: 15px;
  }

  /* line 72, ../sass/partials/_base.scss */
  .jm-profile-skills,
  .jm-profile-experience,
  .jm-profile-education,
  .jm-profile-upgrade {
    width: 44%;
  }

  /* line 77, ../sass/partials/_base.scss */
  h4.jm-dateTime {
    clear: left;
    float: left;
  }

  /* line 79, ../sass/partials/_base.scss */
  #jm-footPage #jm-footerWrapper {
    display: table;
    width: 90%;
  }

  /* line 81, ../sass/partials/_base.scss */
  #jm-footPage .jm-footsection {
    margin-right: 0;
  }

  /* line 83, ../sass/partials/_base.scss */
  #jm-navWrapper {
    margin-left: 0 !important;
  }

  /* line 85, ../sass/partials/_base.scss */
  #jm-footPage #jm-copyright {
    clear: both;
    display: table;
    float: none;
    margin: 0 auto 15px auto;
    position: relative;
    top: 15px;
  }

  /* line 92, ../sass/partials/_base.scss */
  #alert-MQ {
    display: none;
  }
}
/*---------- 800px max-width device ----------*/
@media only screen and (max-device-width: 800px) {
  /* line 97, ../sass/partials/_base.scss */
  #jm-dates #personalDates {
    margin-top: 0;
  }
  /* line 99, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates {
    padding-top: 0;
  }
}
/*---------- 767 x 480 px device -----------*/
@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
  /* line 106, ../sass/partials/_base.scss */
  #jm-header .jm-content,
  #jm-description,
  #jm-dates,
  #jm-dates #jm-name hgroup#jm-nameTitle,
  .jm-profile-skills,
  .jm-profile-experience,
  .jm-profile-education,
  .jm-profile-upgrade,
  body.jm-page #jm-dates,
  body.jm-page #jm-dates #jm-name,
  body.jm-page #jm-dates #personalDates {
    clear: both;
    display: block;
    float: none;
  }

  /* line 121, ../sass/partials/_base.scss */
  #jm-description {
    background: none;
    padding: 10px;
  }

  /* line 125, ../sass/partials/_base.scss */
  #jm-dates,
  #jm-header .jm-content,
  #jm-dates #jm-name,
  body.jm-page #jm-dates #jm-name,
  #jm-dates #personalDates ul#jm-otherDates,
  #jm-description,
  section#jm-contentMain .jm-content,
  .jm-profile-skills,
  .jm-profile-experience,
  .jm-profile-education,
  .jm-profile-upgrade {
    width: auto;
  }

  /* line 138, ../sass/partials/_base.scss */
  #jm-dates #jm-name,
  #jm-dates #jm-name img {
    display: block;
  }

  /* line 141, ../sass/partials/_base.scss */
  #jm-dates #jm-name img {
    float: none;
    margin: 0 auto;
  }

  /* line 145, ../sass/partials/_base.scss */
  #jm-dates #jm-name hgroup#jm-nameTitle {
    text-align: center;
    width: auto;
  }

  /* line 149, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates,
  #jm-description {
    height: auto;
  }

  /* line 152, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates {
    margin-bottom: 20px;
  }

  /* line 154, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #personalDates ul#jm-otherDates {
    border-top: 1px solid #666;
    height: auto !important;
    margin-top: 15px;
  }

  /* line 159, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #personalDates {
    margin-left: 0;
  }

  /* line 161, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates li.jm-listDates,
  body.jm-page #jm-dates #personalDates ul#jm-otherDates li {
    border-bottom: 1px dotted #bbb;
    float: none;
    font-size: 1.15em;
    font-style: normal;
    text-align: center;
    padding: 5px 0;
    width: 100%;
  }
  /* line 170, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates li.jm-listDates:last-child,
  body.jm-page #jm-dates #personalDates ul#jm-otherDates li:last-child {
    border-bottom: none;
  }

  /* line 176, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates li.jm-listDates span {
    padding-left: 0 !important;
  }
  /* line 181, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates .website a,
  #jm-dates #personalDates ul#jm-otherDates .mail a,
  #jm-dates #personalDates ul#jm-otherDates .profile a {
    padding-left: 0;
  }

  /* line 188, ../sass/partials/_base.scss */
  ul#jm-otherDates li.Cellnumber,
  ul#jm-otherDates li.website,
  ul#jm-otherDates li.mail,
  ul#jm-otherDates li.profile {
    background-position-x: 11px;
  }
  /* line 193, ../sass/partials/_base.scss */
  ul#jm-otherDates li.profile {
    background-position-y: -200px;
  }

  /* line 197, ../sass/partials/_base.scss */
  section#jm-contentMain {
    margin-bottom: 0;
  }

  /* line 198, ../sass/partials/_base.scss */
  .jm-profile-skills,
  .jm-profile-experience,
  .jm-profile-upgrade,
  .jm-profile-education {
    padding: 10px 0;
  }

  /* line 203, ../sass/partials/_base.scss */
  .jm-content {
    padding: 0 15px;
  }

  /* line 205, ../sass/partials/_base.scss */
  h4.jm-dateTime {
    clear: left;
    float: left;
  }

  /* line 207, ../sass/partials/_base.scss */
  #jm-footPage {
    position: relative;
  }
  /* line 209, ../sass/partials/_base.scss */
  #jm-footPage #jm-footerWrapper {
    display: table;
    width: auto;
  }
  /* line 210, ../sass/partials/_base.scss */
  #jm-footPage .jm-footsection {
    clear: both !important;
    display: block;
    float: none !important;
    margin: 0 0 15px 0;
  }
  /* line 215, ../sass/partials/_base.scss */
  #jm-footPage .jm-footsection ul {
    display: table;
    margin: 0 auto 10px auto;
  }

  /* line 220, ../sass/partials/_base.scss */
  #jm-navWrapper {
    margin-left: 0 !important;
  }

  /* line 222, ../sass/partials/_base.scss */
  #alert-MQ {
    display: none;
  }
}
@media only screen and (max-device-width: 767px) {
  /* line 226, ../sass/partials/_base.scss */
  #jm-dates #personalDates {
    border-top: none !important;
  }
  /* line 228, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates {
    border-top: 1px solid #666;
    display: block;
    padding-top: 0;
    width: auto !important;
  }
  /* line 233, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates li {
    width: 100% !important;
  }

  /* line 240, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #personalDates ul#jm-otherDates {
    width: auto !important;
  }
}
/*---------- 480 px device -----------*/
@media only screen and (max-device-width: 480px) {
  /* line 248, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates li.jm-listDates,
  body.jm-page #jm-dates #personalDates ul#jm-otherDates li {
    background-image: none !important;
  }

  /* line 252, ../sass/partials/_base.scss */
  .jm-content {
    padding: 0 15px !important;
  }

  /* line 254, ../sass/partials/_base.scss */
  header.jm-Title h2 {
    font-size: 20px;
  }

  /* line 256, ../sass/partials/_base.scss */
  section#jm-contentMain {
    margin-bottom: 0;
  }

  /* line 257, ../sass/partials/_base.scss */
  #jm-footPage {
    position: relative;
  }
  /* line 260, ../sass/partials/_base.scss */
  #jm-footPage .jm-footsection ul {
    display: table;
    margin: 10px auto;
  }

  /* line 266, ../sass/partials/_base.scss */
  #jm-nav li {
    float: none;
  }

  /* line 269, ../sass/partials/_base.scss */
  ul#jm-nav a {
    font-size: 0.95em;
  }

  /* line 271, ../sass/partials/_base.scss */
  #jm-navWrapper {
    margin-left: 0 !important;
  }
  /* line 274, ../sass/partials/_base.scss */
  #jm-navWrapper ul#jm-nav li {
    border-right: none;
    clear: both;
    float: none;
    text-align: center;
  }
  /* line 279, ../sass/partials/_base.scss */
  #jm-navWrapper ul#jm-nav li a {
    padding: 10px;
    text-decoration: none;
  }

  /* line 287, ../sass/partials/_base.scss */
  #jm-develop span {
    clear: both;
    display: table;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
  }
  /* line 293, ../sass/partials/_base.scss */
  #jm-develop span,
  #jm-develop ul#jm-developer {
    float: none;
  }

  /* line 297, ../sass/partials/_base.scss */
  #jm-copyright {
    text-align: center;
  }
  /* line 299, ../sass/partials/_base.scss */
  #jm-copyright a {
    clear: both;
    display: block;
  }
}
/*---------- 479 x 320 px device -----------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
  /* line 307, ../sass/partials/_base.scss */
  #jm-header .jm-content,
  #jm-description,
  #jm-dates,
  #jm-dates #jm-name hgroup#jm-nameTitle,
  .jm-profile-skills,
  .jm-profile-experience,
  .jm-profile-education,
  .jm-profile-upgrade,
  body.jm-page #jm-dates,
  body.jm-page #jm-dates #jm-name,
  body.jm-page #jm-dates #personalDates {
    clear: both;
    display: block;
    float: none;
  }

  /* line 322, ../sass/partials/_base.scss */
  #jm-dates,
  #jm-header .jm-content,
  #jm-dates #jm-name,
  body.jm-page #jm-dates #jm-name,
  #jm-dates #personalDates ul#jm-otherDates,
  #jm-description,
  section#jm-contentMain .jm-content,
  #jm-dates #jm-name hgroup#jm-nameTitle,
  .jm-profile-skills,
  .jm-profile-experience,
  .jm-profile-education,
  .jm-profile-upgrade,
  section#jm-contentMain #jm-workExperience .jm-company-time h4.jm-companyName {
    width: auto;
  }

  /* line 336, ../sass/partials/_base.scss */
  #jm-description {
    background: none;
    height: auto;
    padding: 10px;
  }

  /* line 341, ../sass/partials/_base.scss */
  #jm-dates #jm-name {
    margin-top: 25px;
  }

  /* line 343, ../sass/partials/_base.scss */
  .jm-content {
    padding: 0 15px;
  }

  /* line 345, ../sass/partials/_base.scss */
  #jm-dates #jm-name img {
    display: block;
    float: none;
    margin: 0 auto;
  }

  /* line 350, ../sass/partials/_base.scss */
  #jm-dates #jm-name hgroup#jm-nameTitle {
    text-align: center;
  }

  /* line 352, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates {
    height: auto;
    margin-bottom: 20px;
  }

  /* line 356, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #personalDates ul#jm-otherDates {
    border-top: 1px solid #666;
    height: auto !important;
    margin-top: 15px;
  }

  /* line 361, ../sass/partials/_base.scss */
  body.jm-page #jm-dates #personalDates {
    margin-left: 0;
  }

  /* line 363, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates li.jm-listDates,
  body.jm-page #jm-dates #personalDates ul#jm-otherDates li {
    border-bottom: 1px dotted #bbb;
    float: none;
    font-style: normal;
    text-align: center;
    width: 100%;
    background-image: none;
  }
  /* line 371, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates li.jm-listDates:last-child,
  body.jm-page #jm-dates #personalDates ul#jm-otherDates li:last-child {
    border-bottom: none;
  }

  /* line 377, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates li.jm-listDates span {
    padding-left: 0;
  }
  /* line 382, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates .website a,
  #jm-dates #personalDates ul#jm-otherDates .mail a,
  #jm-dates #personalDates ul#jm-otherDates .profile a {
    padding-left: 0;
  }

  /* line 388, ../sass/partials/_base.scss */
  .jm-profile-skills,
  .jm-profile-experience,
  .jm-profile-education,
  .jm-profile-upgrade {
    padding: 10px 0;
  }

  /* line 393, ../sass/partials/_base.scss */
  #jm-dates #personalDates ul#jm-otherDates li.jm-listDates span,
  #jm-dates #personalDates ul#jm-otherDates a,
  body.jm-page #jm-dates #personalDates ul#jm-otherDates li span {
    padding-left: 0;
  }

  /* line 397, ../sass/partials/_base.scss */
  ul#jm-otherDates li.Cellnumber,
  ul#jm-otherDates li.website, ul#jm-otherDates li.mail {
    background-position-x: 11px;
  }

  /* line 400, ../sass/partials/_base.scss */
  #jm-footPage #jm-footerWrapper {
    display: table;
    width: auto;
  }

  /* line 402, ../sass/partials/_base.scss */
  header.jm-Title h2 {
    font-size: 20px;
  }

  /* line 404, ../sass/partials/_base.scss */
  section#jm-contentMain h3 {
    font-size: 17px;
  }

  /* line 406, ../sass/partials/_base.scss */
  h4.jm-dateTime {
    clear: left;
    float: left;
  }

  /* line 408, ../sass/partials/_base.scss */
  #jm-footPage .jm-footsection {
    clear: both !important;
    display: block;
    float: none !important;
    margin: 0 0 15px 0;
  }

  /* line 416, ../sass/partials/_base.scss */
  #jm-footPage .jm-footsection ul {
    display: table;
    margin: 30px auto 10px auto;
  }
  /* line 420, ../sass/partials/_base.scss */
  #jm-footPage #jm-copyright {
    margin-bottom: 45px;
  }

  /* line 423, ../sass/partials/_base.scss */
  #jm-nav li {
    float: none;
  }

  /* line 426, ../sass/partials/_base.scss */
  ul#jm-nav a {
    font-size: 0.95em;
  }

  /* line 428, ../sass/partials/_base.scss */
  #jm-navWrapper {
    margin-left: 0 !important;
  }
  /* line 431, ../sass/partials/_base.scss */
  #jm-navWrapper ul#jm-nav li {
    text-align: center;
  }
  /* line 433, ../sass/partials/_base.scss */
  #jm-navWrapper ul#jm-nav li a {
    padding: 10px;
    text-decoration: none;
  }

  /* line 441, ../sass/partials/_base.scss */
  #jm-develop span {
    clear: both;
    display: table;
    margin: 0 auto;
    padding: 15pX;
    text-align: center;
  }
  /* line 447, ../sass/partials/_base.scss */
  #jm-develop span,
  #jm-develop ul#jm-developer {
    float: none;
  }

  /* line 451, ../sass/partials/_base.scss */
  #jm-copyright {
    text-align: center;
  }
  /* line 453, ../sass/partials/_base.scss */
  #jm-copyright a {
    clear: both;
    display: block;
  }

  /* line 458, ../sass/partials/_base.scss */
  #alert-MQ {
    display: none;
  }
}
