/* line 5, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* font face */
@font-face {
  font-family: "kaushanscript-regular";
  src: url('/fonts/kaushanscript-regular-webfont.eot?1099983677') format('embedded-opentype'), url('/fonts/kaushanscript-regular-webfont.eot?&1099983677#iefix') format('embedded-opentype'), url('/fonts/kaushanscript-regular-webfont.ttf?1099983677') format('truetype'), url('/fonts/kaushanscript-regular-webfont.svg?1099983677') format('svg'), url('/fonts/kaushanscript-regular-webfont.woff?1099983677') format('woff');
}
/* line 12, ../sass/partials/_typography.scss */
body {
  color: #000;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
}

/* line 22, ../sass/partials/_typography.scss */
h1 {
  font-size: 32px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 28px;
}

/* line 28, ../sass/partials/_typography.scss */
h2 {
  font-size: 26px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 20px;
}

/* line 34, ../sass/partials/_typography.scss */
h3 {
  font-size: 22px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 18px;
}

/* line 40, ../sass/partials/_typography.scss */
h4 {
  font-size: 20px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 16px;
}

/* line 46, ../sass/partials/_typography.scss */
h5 {
  font-size: 18px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 15px;
}

/* line 52, ../sass/partials/_typography.scss */
h6 {
  font-size: 16px;
  line-height: 18px;
  margin-top: 6px;
  margin-bottom: 12px;
}

/* line 59, ../sass/partials/_typography.scss */
strong {
  font-weight: bold;
}

/* line 61, ../sass/partials/_typography.scss */
p {
  margin: 8px 0;
}

/* line 66, ../sass/partials/_typography.scss */
#jm-dates #jm-name hgroup#jm-nameTitle h1 {
  color: white;
  font-family: "kaushanscript-regular", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 3.1em;
  line-height: 40px;
  text-shadow: 2px 2px 2px black;
}
/* line 75, ../sass/partials/_typography.scss */
#jm-dates #jm-name hgroup#jm-nameTitle h2 {
  font-style: normal;
  font-size: 1.2em;
  line-height: 21px;
  text-transform: uppercase;
}

/* line 88, ../sass/partials/_typography.scss */
#jm-dates #personalDates li.jm-listDates {
  font-size: 1em;
}

/* line 96, ../sass/partials/_typography.scss */
ul#jm-otherDates a {
  color: white;
}
/* line 97, ../sass/partials/_typography.scss */
ul#jm-otherDates .Cellnumber {
  font-size: 20px !important;
  font-weight: 600;
}
/* line 104, ../sass/partials/_typography.scss */
ul#jm-otherDates li.profile a {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 115, ../sass/partials/_typography.scss */
#jm-description {
  line-height: 20px;
}

/* line 118, ../sass/partials/_typography.scss */
header.jm-Title h2 {
  text-transform: uppercase;
}

/* line 122, ../sass/partials/_typography.scss */
#jm-skillsWrapper h3 {
  font-style: normal;
  text-transform: uppercase;
}

/* line 130, ../sass/partials/_typography.scss */
#jm-workExperience h3, #jm-educationWrapper h3, #jm-upgrade h3 {
  text-transform: uppercase;
}

/* line 133, ../sass/partials/_typography.scss */
#jm-skillsWrapper li {
  text-transform: uppercase;
}

/* line 137, ../sass/partials/_typography.scss */
h4.jm-dateTime {
  font-size: 0.8em;
}

/* line 140, ../sass/partials/_typography.scss */
section#jm-contentMain .jm-itemContent {
  font-size: 0.9em;
}
/* line 144, ../sass/partials/_typography.scss */
section#jm-contentMain .jm-company-time h4 {
  text-transform: uppercase;
}
/* line 145, ../sass/partials/_typography.scss */
section#jm-contentMain .jm-company-time h4.jm-companyName {
  font-size: 0.9em;
  font-style: normal;
}
/* line 152, ../sass/partials/_typography.scss */
section#jm-contentMain .jm-moreExperience {
  font-size: 0.9em;
}

/* line 156, ../sass/partials/_typography.scss */
#jm-educationWrapper h3 {
  color: #000;
  margin: 5px 0;
}
/* line 158, ../sass/partials/_typography.scss */
#jm-educationWrapper .jm-university-time {
  background: #e6e6e6;
  overflow: hidden;
  padding: 5px 13px;
}
/* line 159, ../sass/partials/_typography.scss */
#jm-educationWrapper .jm-university-time h4 {
  text-transform: uppercase;
}
/* line 160, ../sass/partials/_typography.scss */
#jm-educationWrapper .jm-university-time h4.jm-universityName {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9em;
  font-style: normal;
}

/* line 171, ../sass/partials/_typography.scss */
#jm-upgrade h3 {
  color: #000;
  margin: 5px 0;
}
/* line 173, ../sass/partials/_typography.scss */
#jm-upgrade .jm-upgrade-time {
  background: #e6e6e6;
  overflow: hidden;
  padding: 5px 13px;
}
/* line 174, ../sass/partials/_typography.scss */
#jm-upgrade .jm-upgrade-time h4 {
  text-transform: uppercase;
}
/* line 175, ../sass/partials/_typography.scss */
#jm-upgrade .jm-upgrade-time h4.jm-schoolName {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9em;
  font-style: normal;
}

/* line 187, ../sass/partials/_typography.scss */
ul#jm-socialMedia a {
  font-size: 0;
}

/* line 191, ../sass/partials/_typography.scss */
ul#jm-nav a {
  font-size: 1.1em;
}

/* line 197, ../sass/partials/_typography.scss */
#jm-develop span {
  font-size: 0.9em;
}

/* line 199, ../sass/partials/_typography.scss */
#jm-copyright {
  font-size: 0.9em;
}
/* line 200, ../sass/partials/_typography.scss */
#jm-copyright a {
  color: #c1272d;
  font-family: "kaushanscript-regular", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 208, ../sass/partials/_typography.scss */
#alert-MQ {
  color: #fff;
  font-size: 0.65em;
}
/* line 209, ../sass/partials/_typography.scss */
#alert-MQ #alert-msj {
  font-size: 1.15em;
  line-height: 14px;
  text-align: center;
}

/* line 6, ../sass/partials/_main.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

/* line 10, ../sass/partials/_main.scss */
a {
  color: #000;
}

/* line 13, ../sass/partials/_main.scss */
#jm-Wrapper {
  display: block;
  position: relative;
}

/* line 17, ../sass/partials/_main.scss */
.jm-content {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 25px;
  width: 1000px;
}

/* line 23, ../sass/partials/_main.scss */
#jm-header {
  background: #333333;
  color: white;
  display: table;
  clear: both;
  width: 100%;
}

/* line 30, ../sass/partials/_main.scss */
#jm-dates {
  clear: left;
  float: left;
  width: 528px;
}
/* line 33, ../sass/partials/_main.scss */
#jm-dates #jm-name {
  clear: both;
  display: table;
  margin: 55px 0 0 0;
  width: 100%;
}
/* line 38, ../sass/partials/_main.scss */
#jm-dates #jm-name img {
  clear: left;
  float: left;
  margin-right: 25px;
}
/* line 41, ../sass/partials/_main.scss */
#jm-dates #jm-name hgroup#jm-nameTitle {
  display: block;
  clear: both;
}
/* line 44, ../sass/partials/_main.scss */
#jm-dates #jm-name hgroup#jm-nameTitle h1 {
  margin: 10px 0 0 0;
  padding-bottom: 20px;
}
/* line 47, ../sass/partials/_main.scss */
#jm-dates #jm-name hgroup#jm-nameTitle h2 {
  color: white;
}

/* line 52, ../sass/partials/_main.scss */
body.jm-page #jm-dates {
  clear: both;
  display: table;
  float: none;
  margin-bottom: 25px;
  width: 100%;
}
/* line 58, ../sass/partials/_main.scss */
body.jm-page #jm-dates #jm-name {
  clear: left;
  float: left;
  clear: right;
  width: auto;
}
/* line 60, ../sass/partials/_main.scss */
body.jm-page #jm-dates hgroup#jm-nameTitle a {
  color: white;
  text-decoration: none;
}
/* line 61, ../sass/partials/_main.scss */
body.jm-page #jm-dates hgroup#jm-nameTitle a:hover {
  color: #c1272d;
}
/* line 64, ../sass/partials/_main.scss */
body.jm-page #jm-dates #personalDates {
  border-top: none;
  clear: left;
  float: left;
  clear: right;
  margin: 0 0 0 40px;
}
/* line 69, ../sass/partials/_main.scss */
body.jm-page #jm-dates #personalDates ul#jm-otherDates {
  height: 100%;
  margin-top: 35px;
  padding-top: 0;
  width: auto;
}
/* line 74, ../sass/partials/_main.scss */
body.jm-page #jm-dates #personalDates ul#jm-otherDates li {
  float: none;
  margin-bottom: 10px;
  width: auto;
}
/* line 78, ../sass/partials/_main.scss */
body.jm-page #jm-dates #personalDates ul#jm-otherDates li span {
  padding-left: 55px;
}
/* line 80, ../sass/partials/_main.scss */
body.jm-page #jm-dates #personalDates ul#jm-otherDates li.Cellnumber {
  background-position: 0 2px;
}
/* line 83, ../sass/partials/_main.scss */
body.jm-page #jm-dates #personalDates li.website {
  background-position: 0 -76px;
}
/* line 86, ../sass/partials/_main.scss */
body.jm-page #jm-dates #personalDates li.mail {
  background-position: 0 -140px;
}
/* line 88, ../sass/partials/_main.scss */
body.jm-page #jm-dates #personalDates li.mail span {
  padding-left: 70px !important;
}

/* line 93, ../sass/partials/_main.scss */
#jm-dates #personalDates {
  border-top: 6px solid #ffc107;
  clear: both;
  margin-top: 15px;
}

/* line 97, ../sass/partials/_main.scss */
ul#jm-otherDates {
  height: 108px;
  padding-top: 15px;
  width: 528px;
}
/* line 101, ../sass/partials/_main.scss */
ul#jm-otherDates li.jm-listDates {
  clear: left;
  float: left;
  clear: right;
  display: table;
  height: 54px;
  width: 264px;
}
/* line 107, ../sass/partials/_main.scss */
ul#jm-otherDates li.jm-listDates span {
  display: table-cell;
  padding-left: 55px;
  vertical-align: middle;
}
/* line 113, ../sass/partials/_main.scss */
ul#jm-otherDates a {
  display: table-cell;
  height: 54px;
  vertical-align: middle;
}
/* line 119, ../sass/partials/_main.scss */
ul#jm-otherDates .website a, ul#jm-otherDates .profile a {
  padding-left: 60px;
}
/* line 122, ../sass/partials/_main.scss */
ul#jm-otherDates .mail a {
  padding-left: 55px;
}

/* line 127, ../sass/partials/_main.scss */
ul#jm-otherDates li.Cellnumber {
  background-image: url(../images/s9r1t3-b9.png);
  background-repeat: no-repeat;
  background-position: 0 2px;
}
/* line 132, ../sass/partials/_main.scss */
ul#jm-otherDates li.website {
  background-image: url(../images/s9r1t3-b9.png);
  background-repeat: no-repeat;
  background-position: 5px -76px;
}
/* line 137, ../sass/partials/_main.scss */
ul#jm-otherDates li.mail {
  background-image: url(../images/s9r1t3-b9.png);
  background-repeat: no-repeat;
  background-position: 0 -140px;
}
/* line 141, ../sass/partials/_main.scss */
ul#jm-otherDates li.mail span {
  padding-left: 55px !important;
}
/* line 143, ../sass/partials/_main.scss */
ul#jm-otherDates li.profile {
  background-color: #c1272d;
  background-image: url(../images/s9r1t3-b9.png);
  background-repeat: no-repeat;
  background-position: 5px -203px;
  border-radius: 30px;
}

/* line 151, ../sass/partials/_main.scss */
#jm-description {
  float: left;
  font-family: serif;
  font-size: 14px;
  font-style: italic;
  min-height: 330px;
  padding: 38px 35px 39px 35px;
  width: 402px;
}

/* line 164, ../sass/partials/_main.scss */
section#jm-contentMain {
  margin: 35px 0 150px 0;
}
/* line 166, ../sass/partials/_main.scss */
section#jm-contentMain h3 {
  color: #666666;
}
/* line 167, ../sass/partials/_main.scss */
section#jm-contentMain ul {
  display: table;
  margin: 10px 0;
  padding-left: 15px;
}

/* line 172, ../sass/partials/_main.scss */
header.jm-Title {
  clear: both;
}
/* line 174, ../sass/partials/_main.scss */
header.jm-Title h2 {
  padding: 10px 0 10px 40px;
}
/* line 175, ../sass/partials/_main.scss */
header.jm-Title h2#jm-skills {
  background: url(../images/s9r1t3-b9.png) no-repeat 4px -266px;
}
/* line 178, ../sass/partials/_main.scss */
header.jm-Title h2#jm-work {
  background: url(../images/s9r1t3-b9.png) no-repeat 4px -323px;
}
/* line 181, ../sass/partials/_main.scss */
header.jm-Title h2#jm-education {
  background: url(../images/s9r1t3-b9.png) no-repeat 4px -376px;
  padding-left: 55px;
}
/* line 185, ../sass/partials/_main.scss */
header.jm-Title h2#jm-upgrade {
  background: url(../images/s9r1t3-b9.png) no-repeat 4px -432px;
  padding-left: 50px;
}
/* line 189, ../sass/partials/_main.scss */
header.jm-Title h2#jm-portfolio {
  background: url(../images/s9r1t3-b9.png) no-repeat 4px -671px;
  padding-left: 60px;
}

/* line 194, ../sass/partials/_main.scss */
.jm-profile-skills,
.jm-profile-experience,
.jm-profile-education,
.jm-profile-upgrade {
  clear: left;
  float: left;
  clear: right;
  padding: 20px;
  width: 460px;
}

/* line 204, ../sass/partials/_main.scss */
.jm-profile-skills h3 {
  margin-bottom: 12px;
}

/* line 206, ../sass/partials/_main.scss */
ul.jm-listSkills {
  display: block !important;
  margin: 0 !important;
  padding-left: 0 !important;
}
/* line 210, ../sass/partials/_main.scss */
ul.jm-listSkills .jm-skillsItem {
  background: #e6e6e6;
  color: #fff;
  display: block;
  font-size: .8em;
  height: 30px;
  margin-bottom: 5px;
  width: 100%;
  text-transform: uppercase;
  border-radius: 10px;
}
/* line 34, ../sass/partials/_mixin.scss */
ul.jm-listSkills .jm-skillsItem span {
  background: #333333;
  display: block;
  line-height: 30px;
  padding-left: 13px;
  border-radius: 10px;
}
/* line 214, ../sass/partials/_main.scss */
ul.jm-listSkills .flash span {
  width: 30%;
}
/* line 217, ../sass/partials/_main.scss */
ul.jm-listSkills .jquery span {
  width: 35%;
}
/* line 220, ../sass/partials/_main.scss */
ul.jm-listSkills .scss span {
  width: 40%;
}
/* line 223, ../sass/partials/_main.scss */
ul.jm-listSkills .bootstrap span {
  width: 60%;
}
/* line 228, ../sass/partials/_main.scss */
ul.jm-listSkills .Indesign span,
ul.jm-listSkills .premier span,
ul.jm-listSkills .Tdsmax span {
  width: 50%;
}
/* line 233, ../sass/partials/_main.scss */
ul.jm-listSkills .fireworks span,
ul.jm-listSkills .CD span,
ul.jm-listSkills .rhino span {
  width: 65%;
}
/* line 236, ../sass/partials/_main.scss */
ul.jm-listSkills .photoshop span {
  width: 75%;
}
/* line 239, ../sass/partials/_main.scss */
ul.jm-listSkills .dreamweaver span {
  width: 80%;
}
/* line 242, ../sass/partials/_main.scss */
ul.jm-listSkills .illustrator span {
  width: 85%;
}
/* line 246, ../sass/partials/_main.scss */
ul.jm-listSkills .html span,
ul.jm-listSkills .css span {
  width: 90%;
}

/* line 251, ../sass/partials/_main.scss */
ul.jm-skills li {
  background: url(../images/8ull3t-1k0.png) no-repeat 10px 6px;
  line-height: 22px;
  padding-left: 40px;
}

/* line 256, ../sass/partials/_main.scss */
section#jm-contentMain #jm-workExperience h3 {
  color: #000;
  margin: 5px 0;
}
/* line 259, ../sass/partials/_main.scss */
section#jm-contentMain #jm-workExperience .jm-company-time {
  background: #e6e6e6;
  overflow: hidden;
  padding: 5px 13px;
}
/* line 260, ../sass/partials/_main.scss */
section#jm-contentMain #jm-workExperience .jm-company-time h4 {
  line-height: 16px;
  margin: 0;
}
/* line 263, ../sass/partials/_main.scss */
section#jm-contentMain #jm-workExperience .jm-company-time h4.jm-companyName {
  clear: left;
  float: left;
  color: #666666;
  width: 220px;
}

/* line 270, ../sass/partials/_main.scss */
ul.jm-portfolio-web {
  border-bottom: 2px dotted #ddd;
  display: block !important;
  position: relative;
  padding-bottom: 10px;
}
/* line 275, ../sass/partials/_main.scss */
ul.jm-portfolio-web:before {
  bottom: -10px;
  content: '\25b6';
  left: 0;
  position: absolute;
}
/* line 280, ../sass/partials/_main.scss */
ul.jm-portfolio-web:before,
ul.jm-portfolio-web a {
  color: #c1272d;
}
/* line 282, ../sass/partials/_main.scss */
ul.jm-portfolio-web li {
  display: table;
  margin: 0 0 8px 0;
}
/* line 285, ../sass/partials/_main.scss */
ul.jm-portfolio-web a {
  background: url(../images/s9r1t3-b9.png) no-repeat 0 -741px;
  font-weight: 700;
  padding-left: 25px;
  text-decoration: none;
}
/* line 290, ../sass/partials/_main.scss */
ul.jm-portfolio-web a:hover {
  color: #000;
}

/* line 293, ../sass/partials/_main.scss */
.jm-itemContent {
  padding: 15px 0;
}

/* line 294, ../sass/partials/_main.scss */
.jm-moreExperience {
  clear: both;
}

/* line 295, ../sass/partials/_main.scss */
h4.jm-dateTime {
  clear: right;
  float: right;
  color: #000;
}

/* line 300, ../sass/partials/_main.scss */
section#jm-contentMain #jm-educationWrapper h3 {
  color: #000;
  margin: 5px 0;
}
/* line 303, ../sass/partials/_main.scss */
section#jm-contentMain #jm-educationWrapper .jm-university-time {
  background: #e6e6e6;
  overflow: hidden;
  padding: 5px 13px;
}
/* line 305, ../sass/partials/_main.scss */
section#jm-contentMain #jm-educationWrapper .jm-university-time h4 {
  line-height: 16px;
  margin: 0;
}
/* line 308, ../sass/partials/_main.scss */
section#jm-contentMain #jm-educationWrapper .jm-university-time h4.jm-universityName {
  clear: left;
  float: left;
  color: #666666;
  width: 220px;
}

/* line 316, ../sass/partials/_main.scss */
section#jm-contentMain #jm-upgrade h3 {
  color: #000;
  margin: 5px 0;
}
/* line 319, ../sass/partials/_main.scss */
section#jm-contentMain #jm-upgrade .jm-upgrade-time {
  background: #e6e6e6;
  overflow: hidden;
  padding: 5px 13px;
}
/* line 321, ../sass/partials/_main.scss */
section#jm-contentMain #jm-upgrade .jm-upgrade-time h4 {
  line-height: 16px;
  margin: 0;
}
/* line 324, ../sass/partials/_main.scss */
section#jm-contentMain #jm-upgrade .jm-upgrade-time h4.jm-schoolName {
  clear: left;
  float: left;
  color: #666666;
  width: 200px;
}

/* line 332, ../sass/partials/_main.scss */
#jm-footPage {
  background: #FFC107;
  border-bottom: 10px solid #333333;
  bottom: -1px;
  color: black;
  clear: both;
  display: table;
  margin-top: 30px;
  position: fixed;
  width: 100%;
}
/* line 343, ../sass/partials/_main.scss */
#jm-footPage #jm-footerWrapper {
  padding: 20px 25px;
  position: relative;
}
/* line 344, ../sass/partials/_main.scss */
#jm-footPage #jm-socialProfiles,
#jm-footPage #jm-navWrapper,
#jm-footPage #jm-develop {
  clear: left;
  float: left;
  clear: right;
}
/* line 349, ../sass/partials/_main.scss */
#jm-footPage #jm-socialProfiles {
  display: none;
}
/* line 350, ../sass/partials/_main.scss */
#jm-footPage #alert-MQ {
  background: url(../images/b7n-4l3rt.png) center top no-repeat;
  bottom: 0;
  cursor: not-allowed;
  height: 34px;
  position: absolute;
  right: 0;
  width: 121px;
}
/* line 358, ../sass/partials/_main.scss */
#jm-footPage #alert-MQ:hover {
  height: auto;
}
/* line 359, ../sass/partials/_main.scss */
#jm-footPage #alert-MQ #alert-text {
  display: block;
  height: 34px;
}
/* line 362, ../sass/partials/_main.scss */
#jm-footPage #alert-MQ span {
  position: relative;
  top: 18px;
  left: 50px;
}
/* line 366, ../sass/partials/_main.scss */
#jm-footPage #alert-MQ #alert-msj {
  background: #333333;
  margin: 0 auto;
  padding: 5px 0;
  width: 111px;
}
/* line 372, ../sass/partials/_main.scss */
#jm-footPage #jm-copyright {
  clear: right;
  float: right;
}
/* line 373, ../sass/partials/_main.scss */
#jm-footPage .jm-footsection {
  margin: 10px 0 0 0;
}
/* line 375, ../sass/partials/_main.scss */
#jm-footPage .jm-footsection li {
  clear: left;
  float: left;
  clear: none;
}

/* line 382, ../sass/partials/_main.scss */
ul#jm-socialMedia li {
  margin-right: 10px;
}
/* line 384, ../sass/partials/_main.scss */
ul#jm-socialMedia li a {
  background-image: url(../images/s9r1t3-b9.png);
  background-repeat: none;
  color: transparent;
  display: block;
  height: 37px;
  overflow: hidden;
  text-indent: 36px;
  width: 36px;
}
/* line 392, ../sass/partials/_main.scss */
ul#jm-socialMedia li a#linkedIn {
  background-position: -6px -499px;
}
/* line 394, ../sass/partials/_main.scss */
ul#jm-socialMedia li a#linkedIn:hover {
  background-position: -6px -536px;
}
/* line 396, ../sass/partials/_main.scss */
ul#jm-socialMedia li a#twitter {
  background-position: -6px -573px;
}
/* line 398, ../sass/partials/_main.scss */
ul#jm-socialMedia li a#twitter:hover {
  background-position: -6px -610px;
}

/* line 402, ../sass/partials/_main.scss */
#jm-navWrapper {
  margin-left: 10px !important;
}
/* line 404, ../sass/partials/_main.scss */
#jm-navWrapper ul#jm-nav {
  margin-top: 5px;
}
/* line 406, ../sass/partials/_main.scss */
#jm-navWrapper ul#jm-nav li {
  border-right: 1px solid;
  margin: 0;
}
/* line 409, ../sass/partials/_main.scss */
#jm-navWrapper ul#jm-nav li:last-child {
  border-right: none;
}
/* line 410, ../sass/partials/_main.scss */
#jm-navWrapper ul#jm-nav li a {
  color: #c1272d;
  display: block;
  padding: 0 15px;
  text-transform: uppercase;
}
/* line 415, ../sass/partials/_main.scss */
#jm-navWrapper ul#jm-nav li a:hover {
  color: black;
  text-decoration: none;
}

/* line 425, ../sass/partials/_main.scss */
#jm-develop ul#jm-developer, #jm-develop span {
  clear: left;
  float: left;
  clear: none;
}
/* line 428, ../sass/partials/_main.scss */
#jm-develop span {
  margin: 10px 10px 0 0;
}
/* line 430, ../sass/partials/_main.scss */
#jm-develop li {
  margin-right: 15px;
}
/* line 432, ../sass/partials/_main.scss */
#jm-develop li:last-child {
  margin-right: 0;
}

/* line 435, ../sass/partials/_main.scss */
#jm-footPage #jm-copyright {
  margin-top: 20px;
}
/* line 437, ../sass/partials/_main.scss */
#jm-footPage #jm-copyright a {
  text-decoration: none;
}
/* line 438, ../sass/partials/_main.scss */
#jm-footPage #jm-copyright a:hover {
  color: #c1272d;
}

/* font face */
@font-face {
  font-family: "kaushanscript-regular";
  src: url('/fonts/kaushanscript-regular-webfont.eot?1099983677') format('embedded-opentype'), url('/fonts/kaushanscript-regular-webfont.eot?&1099983677#iefix') format('embedded-opentype'), url('/fonts/kaushanscript-regular-webfont.ttf?1099983677') format('truetype'), url('/fonts/kaushanscript-regular-webfont.svg?1099983677') format('svg'), url('/fonts/kaushanscript-regular-webfont.woff?1099983677') format('woff');
}
/* line 12, ../sass/partials/_typography.scss */
body {
  color: #000;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
}

/* line 22, ../sass/partials/_typography.scss */
h1 {
  font-size: 32px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 28px;
}

/* line 28, ../sass/partials/_typography.scss */
h2 {
  font-size: 26px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 20px;
}

/* line 34, ../sass/partials/_typography.scss */
h3 {
  font-size: 22px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 18px;
}

/* line 40, ../sass/partials/_typography.scss */
h4 {
  font-size: 20px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 16px;
}

/* line 46, ../sass/partials/_typography.scss */
h5 {
  font-size: 18px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 15px;
}

/* line 52, ../sass/partials/_typography.scss */
h6 {
  font-size: 16px;
  line-height: 18px;
  margin-top: 6px;
  margin-bottom: 12px;
}

/* line 59, ../sass/partials/_typography.scss */
strong {
  font-weight: bold;
}

/* line 61, ../sass/partials/_typography.scss */
p {
  margin: 8px 0;
}

/* line 66, ../sass/partials/_typography.scss */
#jm-dates #jm-name hgroup#jm-nameTitle h1 {
  color: white;
  font-family: "kaushanscript-regular", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 3.1em;
  line-height: 40px;
  text-shadow: 2px 2px 2px black;
}
/* line 75, ../sass/partials/_typography.scss */
#jm-dates #jm-name hgroup#jm-nameTitle h2 {
  font-style: normal;
  font-size: 1.2em;
  line-height: 21px;
  text-transform: uppercase;
}

/* line 88, ../sass/partials/_typography.scss */
#jm-dates #personalDates li.jm-listDates {
  font-size: 1em;
}

/* line 96, ../sass/partials/_typography.scss */
ul#jm-otherDates a {
  color: white;
}
/* line 97, ../sass/partials/_typography.scss */
ul#jm-otherDates .Cellnumber {
  font-size: 20px !important;
  font-weight: 600;
}
/* line 104, ../sass/partials/_typography.scss */
ul#jm-otherDates li.profile a {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 115, ../sass/partials/_typography.scss */
#jm-description {
  line-height: 20px;
}

/* line 118, ../sass/partials/_typography.scss */
header.jm-Title h2 {
  text-transform: uppercase;
}

/* line 122, ../sass/partials/_typography.scss */
#jm-skillsWrapper h3 {
  font-style: normal;
  text-transform: uppercase;
}

/* line 130, ../sass/partials/_typography.scss */
#jm-workExperience h3, #jm-educationWrapper h3, #jm-upgrade h3 {
  text-transform: uppercase;
}

/* line 133, ../sass/partials/_typography.scss */
#jm-skillsWrapper li {
  text-transform: uppercase;
}

/* line 137, ../sass/partials/_typography.scss */
h4.jm-dateTime {
  font-size: 0.8em;
}

/* line 140, ../sass/partials/_typography.scss */
section#jm-contentMain .jm-itemContent {
  font-size: 0.9em;
}
/* line 144, ../sass/partials/_typography.scss */
section#jm-contentMain .jm-company-time h4 {
  text-transform: uppercase;
}
/* line 145, ../sass/partials/_typography.scss */
section#jm-contentMain .jm-company-time h4.jm-companyName {
  font-size: 0.9em;
  font-style: normal;
}
/* line 152, ../sass/partials/_typography.scss */
section#jm-contentMain .jm-moreExperience {
  font-size: 0.9em;
}

/* line 156, ../sass/partials/_typography.scss */
#jm-educationWrapper h3 {
  color: #000;
  margin: 5px 0;
}
/* line 158, ../sass/partials/_typography.scss */
#jm-educationWrapper .jm-university-time {
  background: #e6e6e6;
  overflow: hidden;
  padding: 5px 13px;
}
/* line 159, ../sass/partials/_typography.scss */
#jm-educationWrapper .jm-university-time h4 {
  text-transform: uppercase;
}
/* line 160, ../sass/partials/_typography.scss */
#jm-educationWrapper .jm-university-time h4.jm-universityName {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9em;
  font-style: normal;
}

/* line 171, ../sass/partials/_typography.scss */
#jm-upgrade h3 {
  color: #000;
  margin: 5px 0;
}
/* line 173, ../sass/partials/_typography.scss */
#jm-upgrade .jm-upgrade-time {
  background: #e6e6e6;
  overflow: hidden;
  padding: 5px 13px;
}
/* line 174, ../sass/partials/_typography.scss */
#jm-upgrade .jm-upgrade-time h4 {
  text-transform: uppercase;
}
/* line 175, ../sass/partials/_typography.scss */
#jm-upgrade .jm-upgrade-time h4.jm-schoolName {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9em;
  font-style: normal;
}

/* line 187, ../sass/partials/_typography.scss */
ul#jm-socialMedia a {
  font-size: 0;
}

/* line 191, ../sass/partials/_typography.scss */
ul#jm-nav a {
  font-size: 1.1em;
}

/* line 197, ../sass/partials/_typography.scss */
#jm-develop span {
  font-size: 0.9em;
}

/* line 199, ../sass/partials/_typography.scss */
#jm-copyright {
  font-size: 0.9em;
}
/* line 200, ../sass/partials/_typography.scss */
#jm-copyright a {
  color: #c1272d;
  font-family: "kaushanscript-regular", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 208, ../sass/partials/_typography.scss */
#alert-MQ {
  color: #fff;
  font-size: 0.65em;
}
/* line 209, ../sass/partials/_typography.scss */
#alert-MQ #alert-msj {
  font-size: 1.15em;
  line-height: 14px;
  text-align: center;
}
